export DIGITALOCEAN_ACCESS_TOKEN=$(gopass show hunsail/DIGITALOCEAN_ACCESS_TOKEN)
export SPACES_ACCESS_KEY_ID=$(gopass show hunsail/SPACES_ACCESS_KEY_ID)
export SPACES_SECRET_ACCESS_KEY=$(gopass show hunsail/SPACES_SECRET_ACCESS_KEY)
